n8n-workflows/nordkone-wf-2-inbound.template.json
{
  "name": "NordKone WF-2 Inbound Seller Replies",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "path": "nordkone/wasup/inbound",
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "id": "wasup-webhook",
      "name": "Wasup Inbound Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const agentSystemPrompt = `Olet WhatsApp-agentti yritykselle: NordKone Oy.\n\nTämä prompti perustuu Nordkone2 Agent Builder -työtilan master promptiin. Toimi NordKoneen tiimin jäsenenä, ei ulkopuolisena botina.\n\nVastauskieli:\n- Vastaa oletuksena suomeksi.\n- Jos asiakas kirjoittaa toisella kielellä, voit peilata sitä lyhyesti.\n\nPäätavoite:\n- Saada Nettikoneessa koneen myyntiin laittanut henkilö kiinnostumaan meidän konevälitysmallista ilman katteettomia lupauksia.\n- Pyri pieneen seuraavaan askeleeseen: lupa keskustella koneesta, koneen tilanne, perustiedot, kuvat, sopiva soittoaika tai yhteys myyntitiimiin.\n\nTyyli:\n- Ole lämmin, tiivis, asiallinen ja ihmismäinen.\n- Puhu me-muodossa: \"voimme\", \"autamme\", \"hoidamme\".\n- Älä puhu turhaan kolmannessa persoonassa kuten \"NordKone voi\".\n- Kysy yksi hyödyllinen kysymys kerrallaan.\n- Pidä vastaus yleensä alle 70 sanassa.\n- Älä käytä fraasia \"matalalla kynnyksellä\".\n\nKonevälityksen vahvistetut hyödyt:\n- Voimme kuvata koneen.\n- Voimme markkinoida sitä.\n- Voimme esitellä sitä potentiaalisille ostajille asiakkaan puolesta.\n- Voimme ehdottaa lyhyttä puhelua mallin läpikäyntiin.\n\nÄlä keksi tai lupaa:\n- Älä takaa ostajaa, hintaa, myyntiaikaa tai lopputulosta.\n- Älä vahvista saatavuutta, varastotilannetta, rahoitusta, takuuta, toimitusta tai tarkkoja ehtoja.\n- Älä keksi osoitetta, aukioloaikoja, henkilöstön nimiä tai palveluita.\n- Jos asia pitää vahvistaa, sano että tiimi voi vahvistaa.\n\nVastustelun käsittely:\n- Jos asiakas sanoo ei, ei kiinnosta, ei tarvetta: kuittaa ymmärtävästi ja mainitse korkeintaan yksi hyöty, älä painosta.\n- Jos asiakas pyytää poistamista tai ettei viestejä enää lähetetä: pahoittele lyhyesti, vahvista ettei jatketa, älä myy enää.\n- Jos kone on myyty: kiitä tiedosta ja lopeta myynti.\n\nLuokittelusäännöt:\n- interested: kone on edelleen kaupan, asiakas sanoo kyllä/joo/juu/kiinnostaa, pyytää soittoa, antaa luvan keskustella, kysyy välityksestä, hinnasta, ehdoista, kuvauksesta tai seuraavasta askeleesta.\n- sold: kone on myyty, varattu, mennyt jo tai kaupat on tehty.\n- not_interested: asiakas ei halua NordKoneen apua tai välitystä, mutta ei erikseen pyydä viestien lopettamista.\n- opted_out: asiakas pyytää lopettamaan, poistamaan numeron, olemaan lähettämättä viestejä tai käyttää stop-tyyppistä pyyntöä.\n- needs_human: viesti on arvokas mutta epäselvä, sisältää reklamaation, erikoisen pyynnön, hintaneuvottelun, useita koneita tai tilanteen jota et voi ratkaista varmasti.\n- unclear: viestistä ei voi päätellä aikomusta eikä se ole selvästi arvokas.\n\nPalauta AINA vain validi JSON ilman markdownia:\n{\n  \"reply_message\": \"viesti asiakkaalle\",\n  \"classification\": \"interested|sold|not_interested|opted_out|unclear|needs_human\",\n  \"needs_human\": true\n}`;\n\nreturn [{\n  json: {\n    apiBaseUrl: 'https://YOUR-VERCEL-URL',\n    apiKey: 'PASTE_BRIDGE_API_KEY_HERE',\n    wasupSendUrl: 'https://wasup.northeurope.cloudapp.azure.com/api/send',\n    fallbackFromPhone: 'PASTE_WASUP_SENDER_PHONE_HERE',\n    agentSystemPrompt\n  }\n}];"
      },
      "id": "workflow-config",
      "name": "Workflow Config + Nordkone2 Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 0]
    },
    {
      "parameters": {
        "jsCode": "const payload = $('Wasup Inbound Webhook').first().json.body || $('Wasup Inbound Webhook').first().json;\nconst fromPhone = payload.from_phone || payload.from || payload.number || payload.phone || '';\nconst toPhone = payload.to_phone || payload.to || $('Workflow Config + Nordkone2 Prompt').first().json.fallbackFromPhone;\nconst message = String(payload.message || payload.text || payload.body || '').trim();\nreturn [{ json: { payload, fromPhone, toPhone, message } }];"
      },
      "id": "prepare-inbound",
      "name": "Prepare Inbound",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Workflow Config + Nordkone2 Prompt').first().json.apiBaseUrl + '/api/listings?limit=1&q=' + encodeURIComponent($('Prepare Inbound').first().json.fromPhone) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $('Workflow Config + Nordkone2 Prompt').first().json.apiKey }}"
            }
          ]
        }
      },
      "id": "fetch-lead-context",
      "name": "Fetch Lead Context",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [760, 0]
    },
    {
      "parameters": {
        "jsCode": "const config = $('Workflow Config + Nordkone2 Prompt').first().json;\nconst inbound = $('Prepare Inbound').first().json;\nconst listing = $json.listings?.[0] || null;\nconst listingText = listing ? [\n  `Kone: ${listing.machine_title}`,\n  `Nettikone ID: ${listing.nettikone_id}`,\n  `URL: ${listing.listing_url}`,\n  `Hinta: ${listing.price_text || 'ei tiedossa'}`,\n  `Sijainti: ${listing.location || 'ei tiedossa'}`,\n  `Vuosimalli: ${listing.model_year || 'ei tiedossa'}`,\n  `Kuvaus: ${listing.description || 'ei kuvausta'}`\n].join('\\n') : 'Koneen tietoja ei löytynyt numerolla. Vastaa silti yleisen NordKone-kontekstin mukaan.';\n\nconst agentUserPrompt = `Asiakkaan viimeisin WhatsApp-viesti:\\n${inbound.message}\\n\\nKonteksti viimeisimmästä outbound-kontaktista / Nettikone-listauksesta:\\n${listingText}\\n\\nTee kaksi asiaa:\\n1) Päätä classification ja needs_human.\\n2) Kirjoita asiakkaalle lyhyt WhatsApp-vastaus NordKoneen me-muodossa.\\n\\nMuista palauttaa vain JSON.`;\n\nreturn [{\n  json: {\n    ...inbound,\n    listing,\n    config,\n    agentSystemPrompt: config.agentSystemPrompt,\n    agentUserPrompt\n  }\n}];"
      },
      "id": "build-agent-input",
      "name": "Build Agent Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1020, 0]
    },
    {
      "parameters": {
        "model": "gpt-5",
        "options": {}
      },
      "id": "azure-openai-chat-model",
      "name": "Azure OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [1180, 260],
      "credentials": {
        "azureOpenAiApi": {
          "id": "QNzL8wmPG6vuxvbV",
          "name": "Azure Open AI account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ 'nordkone-' + $json.fromPhone }}",
        "tableName": "chat_history",
        "contextWindowLength": 40
      },
      "id": "nordkone-postgres-chat-memory",
      "name": "NordKone Chat History",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.4,
      "position": [1340, 300],
      "credentials": {
        "postgres": {
          "id": "OFlPRP5F4peeJpaM",
          "name": "v2back-working"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.agentUserPrompt }}",
        "options": {
          "systemMessage": "={{ $json.agentSystemPrompt }}"
        }
      },
      "id": "ai-agent",
      "name": "AI Agent - Nordkone2 Prompt",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [1280, 0]
    },
    {
      "parameters": {
        "jsCode": "const source = String($json.output || $json.text || $json.response || '').trim();\nlet parsed;\ntry {\n  parsed = JSON.parse(source.replace(/^```json\\s*/i, '').replace(/```$/i, '').trim());\n} catch (error) {\n  parsed = {\n    reply_message: 'Kiitos viestistä! Välitän tämän meidän tiimille, niin voimme katsoa asian.',\n    classification: 'needs_human',\n    needs_human: true\n  };\n}\nconst allowed = new Set(['interested', 'sold', 'not_interested', 'opted_out', 'unclear', 'needs_human']);\nif (!allowed.has(parsed.classification)) parsed.classification = 'needs_human';\nparsed.needs_human = Boolean(parsed.needs_human || parsed.classification === 'interested' || parsed.classification === 'needs_human');\nparsed.reply_message = String(parsed.reply_message || '').trim() || 'Kiitos viestistä! Välitän tämän meidän tiimille, niin voimme katsoa asian.';\nconst inbound = $('Build Agent Input').first().json;\nreturn [{ json: { ...inbound, agentResult: parsed } }];"
      },
      "id": "parse-agent-output",
      "name": "Parse Agent Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1580, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.config.apiBaseUrl + '/api/webhooks/wasup/inbound' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $json.config.apiKey }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={{ {\n  ...$json.payload,\n  classification: $json.agentResult.classification,\n  needs_human: $json.agentResult.needs_human\n} }}"
      },
      "id": "record-inbound",
      "name": "Record Inbound",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1840, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Workflow Config + Nordkone2 Prompt').first().json.wasupSendUrl }}",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={{ {\n  from_phone: $('Parse Agent Output').first().json.toPhone || $('Workflow Config + Nordkone2 Prompt').first().json.fallbackFromPhone,\n  to_phone: $('Parse Agent Output').first().json.fromPhone,\n  message: $('Parse Agent Output').first().json.agentResult.reply_message\n} }}"
      },
      "id": "send-wasup-reply",
      "name": "Send Wasup Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2100, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  ok: true,\n  classification: $('Parse Agent Output').first().json.agentResult.classification,\n  needs_human: $('Parse Agent Output').first().json.agentResult.needs_human,\n  reply_sent: true\n} }}"
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2360, 0]
    }
  ],
  "connections": {
    "Wasup Inbound Webhook": {
      "main": [
        [
          {
            "node": "Workflow Config + Nordkone2 Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Config + Nordkone2 Prompt": {
      "main": [
        [
          {
            "node": "Prepare Inbound",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Inbound": {
      "main": [
        [
          {
            "node": "Fetch Lead Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Lead Context": {
      "main": [
        [
          {
            "node": "Build Agent Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Agent Input": {
      "main": [
        [
          {
            "node": "AI Agent - Nordkone2 Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Nordkone2 Prompt",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "NordKone Chat History": {
      "ai_memory": [
        [
          {
            "node": "AI Agent - Nordkone2 Prompt",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Nordkone2 Prompt": {
      "main": [
        [
          {
            "node": "Parse Agent Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Agent Output": {
      "main": [
        [
          {
            "node": "Record Inbound",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record Inbound": {
      "main": [
        [
          {
            "node": "Send Wasup Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Wasup Reply": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
